<section id="hello">
  <div class="container">
  <div class="row">
<div class="jumbotron text-center" style="background-color:transparent;height:60vh">
    <div class="top-left-watermark"  data-aos="fade-up" data-aos-duration="1000">
      <p>Hello</p>
    </div>


    <blockquote clas="blockquote" style="color:black;" data-aos="fade-up" data-aos-duration="3000">
      <p ng-show="main.isLoggedIn && !main.hasPaid" class="mb-0"><strong>{{ main.fullname }}, I'd like to take this opportunity to welcome you to the Big Whammy family. We started out as a group of friends who shared a love for this sport and wish to provide a platform to be a part of this wonderful game. Fantasy Football is just the start. We have many more exciting games and formats across many sports coming up. Good luck and we hope you enjoy this exciting season ahead !! &nbsp <em>- Cherian Mathan, CEO</em></strong></p>
      <p ng-show="main.isLoggedIn && main.hasPaid" class="mb-0"><strong>{{ main.fullname }}, We hope you have a fantastic season. Welcome to the most unique fantasy league in the world. Everything is personal. You slip up, and you're run down. You stay focused, you're bound to win something. All the best!!.<br><em>- Cherian Mathan, CEO</em></strong></p>
      <footer ng-show="main.isLoggedIn && !main.hasPaid" class="blockquote-footer"><a ng-click="main.makepurchase();" class= "btn btn-black" href="">PROCEED TO PAYMENT</a></footer>
      <footer ng-show="main.isLoggedIn && main.hasPaid" class="blockquote-footer"><a href="https://fantasy.premierleague.com/?autojoin-code=1996969-573960" target="_blank" class= "btn btn-black" href="">ENTER THE BIG WHAMMY LEAGUE</a></footer>
    </blockquote>

    </div>


 </div>

</div>
</section>
