<section id="hello">
  <div class="container">
  <div class="row">
<div class="jumbotron text-center" style="background-color:transparent;height:60vh">
    <div class="top-left-watermark"  data-aos="fade-up" data-aos-duration="1000">
      <p>Hello -</p>
    </div>


    <blockquote clas="blockquote" style="color:black;" data-aos="fade-up" data-aos-duration="3000">
      <p ng-show="main.isLoggedIn && !main.hasPaid" class="mb-0"><strong>{{ main.fullname }}, I'd like to take this opportunity to welcome you to the Big Whammy family. We started out as a group of friends who shared a love for this sport and wish to provide a platform to be a part of this wonderful game. Fantasy Football is just the start. We have many more exciting games and formats across many sports coming up. Good luck and we hope you enjoy this exciting season ahead !! To play this year's Big Whammy Fantasy season.&nbsp <em>- Cherian Mathan, CEO</em></strong></p>
      <p ng-show="main.isLoggedIn && main.hasPaid" class="mb-0"><strong>{{ main.fullname }}, I'd like to take this opportunity to welcome you to the Big Whammy family. We started out as a group of friends who shared a love for this sport and wish to provide a platform to be a part of this wonderful game. Fantasy Football is just the start. We have many more exciting games and formats across many sports coming up. Good luck and we hope you enjoy this exciting season ahead !! Have a great season ahead. Cheers!!<br><em>- Cherian Mathan, CEO</em></strong></p>
      <footer ng-show="main.isLoggedIn && !main.hasPaid" class="blockquote-footer"><a ng-click="main.makepurchase();" class= "btn btn-black" href="">PROCEED TO PAYMENT</a></footer>
    </blockquote>




      <div ng-show="main.errorMsg" class="alert alert-success">{{ main.errorMsg }}</div>
    </div>


 </div>

</div>
</section>
