<section id="hello">
  <div class="container">
  <div class="row">
<div class="jumbotron text-center" style="background-color:transparent;height:60vh">
    <div class="top-left-watermark"  data-aos="fade-up" data-aos-duration="1000">
      <p>Hello</p>
    </div>


    <blockquote clas="blockquote" style="color:black;" data-aos="fade-up" data-aos-duration="3000">
      <p ng-show="main.isLoggedIn && !main.hasPaid" class="mb-0"><strong>{{ main.fullname }}, I'd like to take this opportunity to welcome you to the Big Whammy family. We started out as a group of friends who shared a love for this sport and wish to provide a platform to be a part of this wonderful game. Fantasy Football is just the start. We have many more exciting games and formats across many sports coming up. Good luck and we hope you enjoy this exciting season ahead !! &nbsp <em>- Cherian Mathan, CEO</em></strong></p>
      <div ng-show="main.isLoggedIn && main.hasPaid" style="font-weight: bold; color:white">
          <p class="mb-0">{{ main.fullname }}, welcome to The Big Whammy. The most unique fantasy league game in the world. Created by a group of ardent football lovers, The Big Whammy only aims at one thing, spreading the love for the beautiful game. It is no secret that no member of The Big Whammy has left after becoming part of this cult. We are a growing family and we would like to welcome you, if you're here for the first time.
          </p>
          <p class="mb-0">Ensure to to join our whatsapp group, the link for which is available on the website as well as will be sent to you via our welcome email.
          </p>
          <p class="mb-0">
              We've got a lot of fantasy leagues taking after us, and we take that as a compliment rather than competition. The Big Whammy is what it is because of the fantastic ardent football fan base it caters to, and that can never be duplicated.
          </p>
          <p class="mb-0">We hope you have a wonderfully unique season filled with excitement, banter and the occasional ass kicking. Hopefully, not at the receiving end.</p>
          <p class="mb-0">I would only advise you to make sure you stay updated, and play on till the last gameweek. The beauty of The Big Whammy is that you can win a prize all the way till the last Gameweek, irrespective of your position in the table</p>
          <p class="mb-0">So buckle up, and enjoy the ride. WELCOME TO THE BIG WHAMMY.</p>
          <p class="mb-0"><br><em> Regards,<br>Cherian Mathan<br>CEO<br>The Big Whammy</em></p>

      </div>
    </blockquote>

    </div>


 </div>

</div>
</section>
