<section id="games">
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center valign-center" style="background-color:transparent;height:60vh">
                <div class="top-left-watermark"  data-aos="fade-up" data-aos-duration="1000">
                    <p>Season 2019-2020</p>
                </div>

                <div class="container" ng-show="main.isLoggedIn">
                    <a class="btn btn-black" ng-href="{{ main.agreetopay2019? '/':'/paymentdeclaration' }}" >PLAY THE BIG WHAMMY</a>
                    <span style="font-size:7vw; color:black;vertical-align:middle;">&nbsp/&nbsp</span>
                    <a class="btn btn-black " href="/mini" data-toggle="tooltip" title="Work in progress. We will enable this shortly" >MINI GAMES</a>
                </div>

            </div>


        </div>

    </div>
</section>


