<section id="masterminds">
  <div class="container">
    <div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>MasterMinds -</p>
  </div>
</div>
<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000" style="padding:30px;">

    <div class="col-md-8  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-custom card-body-grey">
          <h4 class="card-title">Cherian Mathan</h4>
          <p class="card-text">Just married CEO</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-cover-height ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Lorem Ipsum</h4>
          <p class="card-text">Figure me out</p>
        </div>
      </div>
    </div>


</div>
  <div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000" style="padding:30px;">
    <div class="col-md-4  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Lorem Ipsum</h4>
          <p class="card-text">Figure me out</p>
        </div>
      </div>
    </div>
    <div class="col-md-4  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Jason Kurien</h4>
          <p class="card-text">Cool Director</p>
        </div>
      </div>
    </div>
    <div class="col-md-4  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Vishal Pamnani</h4>
          <p class="card-text">The SINGLE director</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
    <img src="../assets/images/whistle.png">
  </div>
</div>
</section>
