<section id="masterminds">
  <div class="container">
    <div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>MasterMinds -</p>
  </div>
</div>
<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000" style="padding:30px;">

    <div class="col-md-5  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/Cherian.jpeg" alt="Card image" >
        <div class="card-body  card-body-grey">
          <h4 class="card-title">Cherian Mathan</h4>
          <p class="card-text">Founder & CEO</p>
        </div>
      </div>
    </div>
    <div class="col-md-5  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/Jason.jpg" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Jason Kurien</h4>
          <p class="card-text">Co-Founder, Director- Sales & Marketing</p>
        </div>
      </div>
    </div>
<!--    <div class="col-md-4 card-cover-height ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Name</h4>
          <p class="card-text">Figure me out</p>
        </div>
      </div>
    </div>-->


</div>
  <div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000" style="padding:30px;">
    <div class="col-md-5  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/Jayan.jpeg" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Jayan Rajpurohit</h4>
          <p class="card-text">Co-Founder, Director- Law and Finance</p>
        </div>
      </div>
    </div>

    <div class="col-md-5  ">

      <div class="card card-cover-width">
        <img class="card-img-top" src="../assets/images/Vishal.jpg" alt="Card image">
        <div class="card-body card-body-grey">
          <h4 class="card-title">Vishal Pamnani</h4>
          <p class="card-text">Co-Founder, Director- Communications and Technology</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
    <img src="../assets/images/whistle.png">
  </div>
</div>
</section>
