<section id="hello">
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center" style="background-color:transparent;height:60vh">
                <div class="top-left-watermark"  data-aos="fade-up" data-aos-duration="1000">
                    <p>Hold your horses</p>
                </div>


                <blockquote clas="blockquote" style="color:black;" data-aos="fade-up" data-aos-duration="3000">
                    <p ng-show="main.isLoggedIn" class="mb-0"><strong>{{ main.fullname }}, our development team is currently working on the mini games and we are so excited about that. We request you to stay patient as we want to serve you the best cooked version of it. !! &nbsp <em>- Cherian Mathan, CEO</em></strong></p>


                </blockquote>

            </div>


        </div>

    </div>
</section>