<section id ="our journey">
  <div class="container">
    <div class="row">
  <div class="top-left-watermark" data-aos="fade-up" data-aos-duration="1000">
    <p>Our Journey</p>
  </div>
  </div>
  <div class="row justify-content-around">
  <div class="col-md-10">
   <p data-aos="fade-up" data-aos-duration="3000">Though unofficially thought of and compiled almost 5 years ago, The Big Whammy officially kicked off in the 2015-2016 season.
                    The Big Whammy is a result of pure passion and love for football and the support of loyal friends, more like family now.
                    The Big Whammy has grown exponentially over the years and we are at our biggest season yet.
                    Join us for the Ultimate Fantasy gaming experience.</p>
    <img data-aos="fade-up" data-aos-duration="3000" alt="our journey pic" class="img-fluid" src="../assets/images/pioneers.jpg">
  </div>
</div>

 </div>
</section>
