<section id="prizes">
<div class="container">
<div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>Prizes and awards -</p>
  </div>
</div>
<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-2">
  </div>
<div class="col-md-4">
  <h6>Together we are all winners!</h6>
</div>
<div class="col-md-1"></div>
</div>

<div class="row">
  <div class="row justify-content-around" style="padding:30px;" data-aos="fade-up" data-aos-duration="3000">
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
 </div>
</div>
  <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
    <img src="../assets/images/whistle.png">
  </div>
</div>
</section>
