<section id="prizes">
<div class="container">
<div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>Awards</p>
  </div>
  <div class="col-md-11 offset-md-1" data-aos="fade-up"  data-aos-duration="1000">
    <h6>Awards are tentative and subject to minor changes based on number of participants.</h6>
  </div>
</div>



<!--<div class="row">
  <div class="row justify-content-around" style="padding:30px;" data-aos="fade-up" data-aos-duration="3000">
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
   <div class="col-md-4  ">

     <div class="card card-cover-width">
       <img class="card-img-top" src="../assets/images/whistle.png" alt="Card image">
       <div class="card-body card-body-grey">
         <h4 class="card-title">Award name</h4>
         <p class="card-text">What's this for?</p>
       </div>
     </div>
   </div>
 </div>
</div>-->

<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>THE BIG WHAMMY Award</h4>
      <p style="color:black;"><strong>This award will be given to the participant who finishes 1st at the end of GW 38 in The Big Whammy Table.</strong></p>
  </div>
  <div class="col-md-6">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>2nd Place Award</h4>
      <p style="color:black;"><strong>This award will be given to the participant who finishes 2nd at the end of GW 38 in The Big Whammy Table.</strong></p>
  </div>
</div>

<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-2 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>3rd Place Award</h4>
      <p style="color:black;"><strong>This award will be given to the participant who finishes 3rd at the end of GW 38 in The Big Whammy Table.</strong></p>
  </div>
  <div class="col-md-2 border-right">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <h4>4th Place Award</h4>
    <p style="color:black;"><strong>This award will be given to the participant who finishes 4th at the end of GW 38 in The Big Whammy Table.</strong></p>
  </div>
  <div class="col-md-2 border-bottom-left">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <h4>Playmaker award</h4>
    <p style="color:black;"><strong>This award is given to the participant whose team had the maximum assists in the season.</strong></p>
  </div>
</div>

&nbsp
<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-2 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Golden Glove award</h4>
      <p style="color:black;"><strong>This award is given to the participant whose team got the maximum number of clean sheets. Only clean sheets of defenders and Goalkeepers will be counted.</strong></p>
</div>
  <div class="col-md-2 border-right">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <h4>Golden Boot award</h4>
    <p style="color:black;"><strong>This award is given to the participant whose team scored the highest goals in the season.</strong></p>
  </div>
  <div class="col-md-2 border-bottom-left">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
      <h4>The Playoff award</h4>
      <p style="color:black;"><strong>This award is given to the participants from 5th to the 10th position with the highest GW score in GW 38. This is the playoff for the players who were consistent throughout the season.</strong></p>
  </div>
</div>
&nbspe
<div class="row justify-content-around" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-2 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>The Big Whammy Knockout Cup and runner up</h4>
      <p style="color:black;"><strong>The Big Whammy Knockout Cup will begin in GW 28 or GW 27 depending on the number of final participants.</strong></p>
  </div>
  <div class="col-md-2 border-right">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <h4>Iron Man Award</h4>
    <p style="color:black;"><strong>This award will be given to the participant who climbs the maximum ranks in The Big Whammy Table from GW 19 to GW 38.</strong></p>
  </div>
  <div class="col-md-2 border-bottom-left">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <h4>Gameweek Slammer</h4>
    <p style="color:black;"><strong>This award  will be given to the Participant who bags the highest points in every Gameweek.</strong></p>
  </div>
</div>


</div>
</div>
</section>
