<section id="quotes">
  <div class="container">
    <div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>Quotes -</p>
  </div>
</div>
<div class="row" data-aos="fade-up" data-aos-duration="3000">
    <div class="col-md-6" >
      <blockquote clas="blockquote">
        <p class="mb-0"><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit anet, consectur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua.<i class="fa fa-quote-right"></i></p>
        <footer class="blockquote-footer">-Lorem Ipsum, Mumbai</footer>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote clas="blockquote">
        <p class="mb-0"><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit anet, consectur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua.<i class="fa fa-quote-right"></i></p>
        <footer class="blockquote-footer">-Lorem Ipsum, Dubai</footer>
      </blockquote>
    </div>
  </div>

</div>
</section>
