<section id="rules">
  <div class="container">
      <div class="row">
          <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
              <p>Rules & FAQs</p>
              <button class="btn btn-black" id="flipbutton" onclick="flipDiv()" >CLICK FOR RULES</button>
          </div>
      </div>

      <div id = "todisplay">


          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) Why should I play with The Big Whammy when I can just play in a league in the premier league website ?</h4>
                  <p style="color:black;font-weight:bold;"><strong>A) The Big Whammy offers you a real chance to win actual prizes, gifts and vouchers. Instead of competing with the millions of competitors for a single top prize, The Big Whammy offers several interesting prizes within a small group of participants which increase your chance to actually win. There is prize every week and you can keep racking them up as you go.</strong></p>
              </div>
              <!--</div>-->
              <!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) How can I register with The Big Whammy? How much does it cost and how can I be sure that my money is safe ?</h4>
                  <p style="color:black;font-weight:bold;"><strong>A) There is a very simple registration process to take part in The Big Whammy. <span ng-show="!main.isLoggedIn"><a href="/register">Click here</a> to register.</span> The registration is a simple INR 1100 /-. The Big Whammy has been running successfully since 2013 and several participants have played through the years and won. Please check our reviews and feedback section for more details. Moreoever, all payments are taken ONLY through our payment gateway and acknowledged with an email confirmation. </strong></p>
              </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="3000">
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4 >Q) How is the scoring system of The Big Whammy and is the exact system of fantasypremierleague website used ?</h4>
                  <p style="color:white;font-weight:bold;"><strong>A) The scoring is exactly as per the Fantasy Premier League rules. Minus points are calculated into your monthly score and all other scores.</strong></p>
              </div>
              <!--</div>-->
              <!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
              <div class="col-md-6">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) I am new to fantasy football/ The Big Whammy and not sure if I can win anything as this is my first season. How can I play ?</h4>
                  <p style="color:white;font-weight:bold;"><strong>A) The Big Whammy has a 24 hour tips and suggestions chat Room. It also has experts and pundits to guide you if you are a beginner. Considering the number of awards and prizes, you can surely win something if you regularly play and make changes weekly without fail. </strong></p>
              </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="3000">
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) If I win, how will the prizes and awards be given to me ?</h4>
                  <p style="color:black;font-weight:bold;"><strong>A) All cash prizes will be transferred online to the confirmed account by the participant. Other vouchers, prizes will be given during The Annual Big Whammy meet or couriered to you as per your convenience.</strong></p>
              </div>
              <!--</div>-->
              <!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
              <div class="col-md-6">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) When will I get to see my position in The Big Whammy Table after the Gameweek ends?</h4>
                  <p style="color:black;font-weight:bold;"><strong>A) Though FPL website has a league table for The Big Whammy, The Big Whammy follows its own tables ensuring minus points are calculated. The Big Whammy website will update its tables 48 hours after FPL scores are updated.</strong></p>
              </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="3000">
              <div class="col-md-6 offset-md-3">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4>Q) What is the basic guideline to win something in The Big Whammy?</h4>
                  <p style="color:black;font-weight:bold;"><strong>A) Do not forget to make your changes. Read at least 2 articles and take basic tips before every gameweek.</strong></p>
              </div>
          </div>
          <!--
          <div class="row" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-md-6 border-right">
                <div class="period-symbol">
                  <img src="../assets/images/dot.png">
                </div>
                <p>In case of a tie of points for any award, the Award will be split irrespective of the overall points or their position in the FPL table, or any other factor. The Award will be split.</p>
            </div>
            <div class="col-md-6 border-bottom-left">
              <div class="period-symbol">
                <img src="../assets/images/dot.png">
              </div>
              <p>The use of your wildcards, bench boost, triple captain or free hit will not affect your liability to any of the awards in any way. Use them as per your discretion</p>
            </div>

          </div>
          &nbsp
          <div class="row" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-md-6 border-right">
              <div class="period-symbol">
                <img src="../assets/images/dot.png">
              </div>
              <p>Any conflict to the Rules mentioned above or discrepancies arising inn the season will be discussed by The Big Whammy management and their decision on the same will be final and irrevocable.</p>
            </div>
            <div class="col-md-6">
              <div class="period-symbol">
                <img src="../assets/images/dot.png">
              </div>
              <p>Apart from the X participants, no participant will be allowed to enter the competition at any later stage.</p>
            </div>
          </div>

            <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
              <img src="../assets/images/whistle.png">
            </div>
          </div>-->
      </div>
      <div class="modal fade" id="gameweekslammerModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="gameweekslammerModalLabel">GAMEWEEK SLAMMER AWARD</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body table-dark">
                  <ul>
                      <li>This award  will be given to the Participant who bags the highest points in every Gameweek.</li>
                      <li>This award will be given from GW 1 until GW 38, i.e. 38 awards. The Big Whammy shall follow the official Gameweeks of the Premier League based on their official website. Gameweeks might sometimes have less than 10 or more than 10 matches.</li>
                      <li>The points in the Gameweek will be strictly calculated based on the games in that Gamweek. All minus points taken will be incorporated in the final total of the Gamweek while considering the award.</li>
                  </ul>
              </div>

          </div>
      </div>
  </div>

      <div class="modal fade" id="ironManModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="ironManModalLabel">IRON MAN AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award will be given to the participant who climbs the maximum ranks in The Big Whammy Table from GW 19 to GW 38.</li>
                          <li>The participant's rank AFTER GW 19 will be noted and the rank AFTER GW 38. The participant who has climbed the maximum ranks in The Big Whammy table is the IRON MAN.</li>
                          <li>If there is a tie in the number of ranks climbed by 2(or more) participants, the pot shall be split irrespective of any other factors.</li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="knockoutModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="knockoutModalLabel">KNOCKOUT CUP AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>The Big Whammy Knockout Cup will begin in GW 28 or GW 27 depending on the number of final participants.</li>
                          <li>Qualifying - The top 64 (or 128) scorers at the end of GW 27 (or GW 26) will enter the first round. If there is a tie at the 64th position,(or 128th position) (For eg. 64th and 65th participant has the same points), the participant who scored more in GW 27(or GW 26) will go through. If they are tied with the same GW points as well, then the following tie-breaks will be applied until a participant goes through :
                            <ol>
                                <li>Most goals scored in the Gameweek</li>
                                <li>Fewest goals conceded in the Gameweek</li>
                                <li>Virtual coin toss</li>
                            </ol>
                          </li>
                          <li><p>Each qualifying team will be randomly drawn(through a random code generation) against another in the first round. The winner (the team with the highest Gameweek score minus any transfer points), will progress to the second round and another random draw, the losers are out! This process continues until the final Gameweek when the two remaining teams contest the cup final which will decide the winner and runner up.</p>
                              <p>If a cup match is drawn, then the following tie-breaks will be applied until a winner is found:</p>
                              <ol>
                                  <li>Most goals scored in the Gameweek</li>
                                  <li>Fewest goals conceded in the Gameweek</li>
                                  <li>Virtual coin toss</li>
                              </ol>
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>
      <div class="modal fade" id="playoffModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="playoffModalLabel">THE PLAYOFF AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award is given to the participants from 5th to the 10th position with the highest GW score in GW 38. This is the playoff for the players who were consistent throughout the season. </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="goldenbootModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="goldenbootModalLabel">GOLDEN BOOT AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award is given to the participant whose team scored the highest goals in the season.</li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="goldengloveModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="goldengloveModalLabel">GOLDEN GLOVE AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award is given to the participant whose team got the maximum number of clean sheets. Only clean sheets of defenders and Goalkeepers will be counted.</li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>


      <div class="modal fade" id="playmakerModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="playmakerModalLabel">PLAYMAKER AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award is given to the participant whose team had the maximum assists in the season.</li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="fourthplaceModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="fourthplaceModalLabel">4<sup>th</sup> PLACE AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award will be given to the participant who finishes 4<sup>th</sup> at the end of GW 38 in The Big Whammy Table.</li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="thirdplaceModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="thirdplaceModalLabel">3<sup>rd</sup> PLACE AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award will be given to the participant who finishes 3<sup>rd</sup> at the end of GW 38 in The Big Whammy Table.
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div class="modal fade" id="secondplaceModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="secondplaceModalLabel">2<sup>nd</sup> PLACE AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award will be given to the participant who finishes 2<sup>nd</sup> at the end of GW 38 in The Big Whammy Table.
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>


      <div class="modal fade" id="bigwhammyawardModal" style="color:black" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="bigwhammyawardModalLabel">THE BIG WHAMMY AWARD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body table-dark">
                      <ul>
                          <li>This award will be given to the participant who finishes 1<sup>st</sup> at the end of GW 38 in The Big Whammy Table.
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <div id = "prizeRules" style="display:none">
          <div class="row" data-aos="fade-up" data-aos-duration="3000">
              <div class="col-md-6 offset-md-3">
                <h6>CLICK ON AWARDS TO KNOW MORE DETAILS</h6>
              </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#gameweekslammerModal">Gameweek Slammer</a></h4>
              </div>

              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#ironManModal">Iron Man Award</a></h4>
              </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#knockoutModal">The Big Whammy knockout Cup and runner up</a></h4>
              </div>

              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#playoffModal">The Playoff Award</a></h4>
              </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#goldenbootModal">Golden Boot Award</a></h4>
              </div>

              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#goldengloveModal">Golden Glove Award</a></h4>
              </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#playmakerModal">Playmaker Award</a></h4>
              </div>

              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#fourthplaceModal">4<sup>th</sup> Place Award</a></h4>
              </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="3000" >
              <div class="col-md-6 border-right">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#thirdplaceModal">3<sup>rd</sup> Place Award</a></h4>
              </div>

              <div class="col-md-6 ">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#secondplaceModal">2<sup>nd</sup> Place Award</a></h4>
              </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="3000">
              <div class="col-md-6 offset-md-3">
                  <div class="period-symbol">
                      <img src="../assets/images/dot.png">
                  </div>
                  <h4><a data-toggle="modal"  data-target="#bigwhammyawardModal">THE BIG WHAMMY Award</a></h4>
              </div>
          </div>
      </div>
      <div id = "faqs" style="display:none">


<div class="row" data-aos="fade-up" data-aos-duration="3000" >
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) Why should I play with The Big Whammy when I can just play in a league in the premier league website ?</h4>
      <p style="color:black;font-weight:bold;"><strong>A) The Big Whammy offers you a real chance to win actual prizes, gifts and vouchers. Instead of competing with the millions of competitors for a single top prize, The Big Whammy offers several interesting prizes within a small group of participants which increase your chance to actually win. There is prize every week and you can keep racking them up as you go.</strong></p>
  </div>
<!--</div>-->
<!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
  <div class="col-md-6 ">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) How can I register with The Big Whammy? How much does it cost and how can I be sure that my money is safe ?</h4>
      <p style="color:black;font-weight:bold;"><strong>A) There is a very simple registration process to take part in The Big Whammy. <span ng-show="!main.isLoggedIn"><a href="/register">Click here</a> to register.</span> The registration is a simple INR 1100 /-. The Big Whammy has been running successfully since 2013 and several participants have played through the years and won. Please check our reviews and feedback section for more details. Moreoever, all payments are taken ONLY through our payment gateway and acknowledged with an email confirmation. </strong></p>
  </div>
</div>

<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4 >Q) How is the scoring system of The Big Whammy and is the exact system of fantasypremierleague website used ?</h4>
      <p style="color:white;font-weight:bold;"><strong>A) The scoring is exactly as per the Fantasy Premier League rules. Minus points are calculated into your monthly score and all other scores.</strong></p>
  </div>
<!--</div>-->
<!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
  <div class="col-md-6">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) I am new to fantasy football/ The Big Whammy and not sure if I can win anything as this is my first season. How can I play ?</h4>
      <p style="color:white;font-weight:bold;"><strong>A) The Big Whammy has a 24 hour tips and suggestions chat Room. It also has experts and pundits to guide you if you are a beginner. Considering the number of awards and prizes, you can surely win something if you regularly play and make changes weekly without fail. </strong></p>
  </div>
</div>

<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) If I win, how will the prizes and awards be given to me ?</h4>
      <p style="color:black;font-weight:bold;"><strong>A) All cash prizes will be transferred online to the confirmed account by the participant. Other vouchers, prizes will be given during The Annual Big Whammy meet or couriered to you as per your convenience.</strong></p>
  </div>
<!--</div>-->
<!--<div class="row" data-aos="fade-up" data-aos-duration="3000">-->
  <div class="col-md-6">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) When will I get to see my position in The Big Whammy Table after the Gameweek ends?</h4>
      <p style="color:black;font-weight:bold;"><strong>A) Though FPL website has a league table for The Big Whammy, The Big Whammy follows its own tables ensuring minus points are calculated. The Big Whammy website will update its tables 48 hours after FPL scores are updated.</strong></p>
  </div>
</div>

<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 offset-md-3">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <h4>Q) What is the basic guideline to win something in The Big Whammy?</h4>
      <p style="color:black;font-weight:bold;"><strong>A) Do not forget to make your changes. Read at least 2 articles and take basic tips before every gameweek.</strong></p>
  </div>
</div>
<!--
<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <p>In case of a tie of points for any award, the Award will be split irrespective of the overall points or their position in the FPL table, or any other factor. The Award will be split.</p>
  </div>
  <div class="col-md-6 border-bottom-left">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>The use of your wildcards, bench boost, triple captain or free hit will not affect your liability to any of the awards in any way. Use them as per your discretion</p>
  </div>

</div>
&nbsp
<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>Any conflict to the Rules mentioned above or discrepancies arising inn the season will be discussed by The Big Whammy management and their decision on the same will be final and irrevocable.</p>
  </div>
  <div class="col-md-6">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>Apart from the X participants, no participant will be allowed to enter the competition at any later stage.</p>
  </div>
</div>

  <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
    <img src="../assets/images/whistle.png">
  </div>
</div>-->
      </div>
  </div>
</section>

<script>
    function flipDiv(){
      if($('#flipbutton').html() == "CLICK FOR RULES") {
          $('#todisplay').animate({
              'opacity' : 0
          }, 1000, function(){
              $(this).html($("#prizeRules").html()).animate({'opacity': 1}, 1000);
              $('#flipbutton').html("CLICK FOR FAQ");
          });

      }else {
          $('#todisplay').animate({
              'opacity' : 0
          }, 1000, function(){
              $(this).html($("#faqs").html()).animate({'opacity': 1}, 1000);
              $('#flipbutton').html("CLICK FOR RULES");
          });

      }


    }
</script>
