<section id="rules">
  <div class="container">
    <div class="row">
  <div class="top-left-watermark" data-aos="fade-up"  data-aos-duration="1000">
    <p>Rules -</p>
  </div>
  <div class="jumbotron text-center site-header" style="color:black;background-color:transparent;">
    <h1 class="intro">Coming Soon</h1>
  </div>
</div>
<!--
<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
      <div class="period-symbol">
        <img src="../assets/images/dot.png">
      </div>
      <p>In case of a tie of points for any award, the Award will be split irrespective of the overall points or their position in the FPL table, or any other factor. The Award will be split.</p>
  </div>
  <div class="col-md-6 border-bottom-left">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>The use of your wildcards, bench boost, triple captain or free hit will not affect your liability to any of the awards in any way. Use them as per your discretion</p>
  </div>

</div>
&nbsp
<div class="row" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-md-6 border-right">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>Any conflict to the Rules mentioned above or discrepancies arising inn the season will be discussed by The Big Whammy management and their decision on the same will be final and irrevocable.</p>
  </div>
  <div class="col-md-6">
    <div class="period-symbol">
      <img src="../assets/images/dot.png">
    </div>
    <p>Apart from the X participants, no participant will be allowed to enter the competition at any later stage.</p>
  </div>
</div>

  <div class="bottom-center-icon" data-aos="fade-up"  data-aos-duration="1000">
    <img src="../assets/images/whistle.png">
  </div>
</div>-->
</section>
