<section id="register" class="section registration" data-aos="fade-up"  data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="top-left-watermark">
                <p>Registrations -</p>
              </div>
            </div>
        </div>

          <div class="col-md-12">
        <form ng-submit="register.regUser(regData, regForm.$valid);" name="regForm" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input ng-class="{ 'is-valid':(regForm.fullname.$valid && !regForm.fullname.$pristine), 'is-invalid':(!regForm.fullname.$valid && !regForm.fullname.$pristine) || (!regForm.name.$valid && regForm.$submitted) }" type="text" class="form-control" placeholder="Full Name" id="firstname" name="fullname" value="" required ng-model="register.regData.fullname" ng-minLength = "3" ng-maxLength="20" ng-pattern="/^(([a-zA-Z]{1,20})+[ ]+([a-zA-Z]{1,20})+)+$/">
                        <p class="help-block" ng-show="(!regForm.fullname.$pristine && regForm.fullname.$error.required) || (regForm.$submitted && regForm.fullname.$error.required)" style="color:red;">This field is required</p>
                        <ul ng-show="(!regForm.fullname.$pristine && regForm.fullname.$error.pattern) || (regForm.fullname.$pristine && regForm.fullname.$error.minlength) || (regForm.fullname.$pristine && regForm.fullname.$error.maxlength)" class="help-block" style="color:red;font-size:1.5vw;">
                          <li>Must have space between first and last name</li>
                          <li>Must not contain any special characters</li>
                          <li>Must not contain any numbers</li>
                          <li>Length must be atleast 3 characters but no more than 20 characters long</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <input ng-class="{ 'is-valid':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'is-invalid':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }" type="email" class="form-control" placeholder="Email" name="email" value="" required ng-model="register.regData.email" ng-minlength="3" ng-maxlength="250" ng-pattern='/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/' ng-blur="register.checkEmail(regData);">
                        <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)" style="color:red;">This field is required</p>
                        <span ng-show="register.checkingEmail" class="fa fa-soccer-ball-o "></span><p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</p>
                        <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (regForm.email.$pristine && regForm.email.$error.minlength) || (regForm.email.$pristine && regForm.email.$error.maxlength)" class="help-block" style="color:red;font-size:1.5vw;">
                          <li>Must contain "@"</li>
                          <li>No special characters allowed</li>
                          <li>Must be atleast 3 characters and not more than 250 characters long</li>

                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" list="clubs" placeholder="Favourite Club" id="favclub" name="favclub" value="" required ng-model="register.regData.favclub">
                        <datalist id="clubs">
                            <option value="Arsenal">
                            <option value="AFC Bournemouth">
                            <option value="Brighton & Hove Albion">
                            <option value="Burnley">
                            <option value="Cardiff City">
                            <option value="Chelsea">
                            <option value="Crystal Palace">
                            <option value="Everton">
                            <option value="Fulham">
                            <option value="Huddersfield Town">
                            <option value="Leicester City">
                            <option value="Liverpool">
                            <option value="Machester City">
                            <option value="Manchester United">
                            <option value="Newcastle United">
                            <option value="Southhampton">
                            <option value="Tottenham Hotspur">
                            <option value="Watford">
                            <option value="West Ham United">
                            <option value="Wolverhampton Wanderers">
                        </datalist>
                    </div>
                    <!--<div class="form-group">
                        <input type="text" class="form-control" placeholder="Fantasy Team Name" id="fanasyteamname" name="fplteamname" value="" required ng-model="register.regData.fplteamname">
                    </div>-->

                    <div class="form-group">
                        <input ng-class="{ 'is-valid':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'is-invalid':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}"  type="text" class="form-control" placeholder="Username" id="username" name="username" value="" required ng-minlength="3" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-model="register.regData.username" ng-blur="register.checkUsername(regData);">
                        <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)" style="color:red;">This field is required</p>
                        <span ng-show="register.checkingUsername" class="fa fa-soccer-ball-o "></span><p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</p>
                        <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (regForm.username.$pristine && regForm.username.$error.minlength) || (regForm.username.$pristine && regForm.username.$error.maxlength)" class="help-block" style="color:red;font-size:1.5vw;">
                          <li>Must not contain any special characters</li>
                          <li>Must be atleast 3 characters but no more than 25</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Referred By"  id="rfname" name="refferedby" required ng-model="register.regData.refferedby">
                    </div>

                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                      <input ng-class="{ 'is-valid':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'is-invalid':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }" type="password" class="form-control" placeholder="Set a password" name="firstPassword" value="" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required ng-model="firstPassword">
                      <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)" style="color:red;">This field is required</p>
                      <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block" style="color:red;font-size:1.5vw;">
                        <li>Must be atleast 8 characters long and atmost 35 characters</li>
                        <li>Must contain at least one upper case letter</li>
                        <li>Must contain at least one lower case letter</li>
                        <li>Must contain at least one special character</li>
                        <li>Must contain at least one number</li>
                      </ul>
                  </div>

                  <div class="form-group">
                      <input ng-class="{ 'is-valid':confirmed && !regForm.repassword.$error.required, 'is-invalid': (!confirmed && !regForm.repassword.$error.required) || (regForm.repassword.$error.required && !regForm.repassword.$pristine) }" type="password" class="form-control" placeholder="Re-enter password" name="repassword" value="" required ng-model="confirm" match="{{[firstPassword]}}" ng-change="register.regData.password = confirm">
                      <p class="help-block" ng-show="(!regForm.repassword.$pristine && regForm.repassword.$error.required) || (regForm.$submitted && regForm.repassword.$error.required)" style="color:red;">This field is required</p>
                      <p ng-show ="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
                  </div>

                    <div class="form-group">
                        <input type="tel" id="phone" intl-tel-input class="form-control" placeholder="Contact: Add your country code without the + or - sign followed by your number. Eg: 0091xxxxxxxxxx for an Indian number" title="If your number is 999966xxxx and if it is an Indian number then please write it as 0091999966xxxx" name="contactphone" required ng-model="register.regData.contactphone">
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Select your date of birth" class="textbox-n" type="text" onfocus="(this.type='date')" id="dobfield" name="dateofbirthselector" required ng-model="register.regData.dob">
                    </div>



                    <div class="form-group">
                      <input type="text" class="form-control" list="countries" name="countries" placeholder="Select/Type your country's name" ng-model="register.regData.country"/>
                      <datalist id="countries">
                          <option value="Afghanistan">
                          <option value="Albania">
                          <option value="Algeria">
                          <option value="Andorra">
                          <option value="Angola">
                          <option value="Antigua and Barbuda">
                          <option value="Argentina">
                          <option value="Australia">
                          <option value="Austria">
                          <option value="Azerbaijan">
                            <option value="The Bahamas">
                            <option value="Bahrain">
                            <option value="Bangladesh">
                            <option value="Barbados">
                            <option value="Belarus">
                            <option value="Belgium">
                            <option value="Belize">
                            <option value="Benin">
                            <option value="Bhutan">
                            <option value="Bolivia">
                            <option value="Bosnia and Herzegovina">
                            <option value="Botswana">
                            <option value="Brazil">
                            <option value="Brunei">
                            <option value="Bulgaria">
                            <option value="Burkina Faso">
                            <option value="Burundi">
                              <option value="Cabo Verde">
                              <option value="Cambodia">
                              <option value="Cameroon">
                              <option value="Canada">
                              <option value="Central African Republic">
                              <option value="Chad">
                              <option value="Chile">
                              <option value="China">
                              <option value="Colombia">
                              <option value="Comoros">
                              <option value="Congo, Democratic Republic of the">
                              <option value="Congo, Republic of the">
                              <option value="Costa Rica">
                              <option value="Côte d’Ivoire">
                              <option value="Croatia">
                              <option value="Cuba">
                              <option value="Cyprus">
                              <option value="Czech Republic">
                                <option value="Denmark">
                                <option value="Djibouti">
                                <option value="Dominica">
                                <option value="Dominican Republic">
                                  <option value="East Timor (Timor-Leste)">
                                  <option value="Ecuador">
                                  <option value="Egypt">
                                  <option value="El Salvador">
                                  <option value="Equatorial Guinea">
                                  <option value="Eritrea">
                                  <option value="Estonia">
                                  <option value="Ethiopia">
                                    <option value="Fiji">
                                    <option value="Finland">
                                    <option value="France">
                                      <option value="Gabon">
                                      <option value="The Gambia">
                                      <option value="Georgia">
                                      <option value="Germany">
                                      <option value="Ghana">
                                      <option value="Greece">
                                      <option value="Grenada">
                                      <option value="Guatemala">
                                      <option value="Guinea">
                                      <option value="Guinea-Bissau">
                                      <option value="Guyana">
                                        <option value="Haiti">
                                        <option value="Honduras">
                                        <option value="Hungary">
                                          <option value="Iceland">
                                          <option value="India">
                                          <option value="Indonesia">
                                          <option value="Iran">
                                          <option value="Iraq">
                                          <option value="Ireland">
                                          <option value="Israel">
                                          <option value="Italy">
                                            <option value="Jamaica">
                                            <option value="Japan">
                                            <option value="Jordan">
                                              <option value="Kazakhstan">
                                              <option value="Kenya">
                                              <option value="Kiribati">
                                              <option value="Korea, North">
                                              <option value="Korea, South">
                                              <option value="Kosovo">
                                              <option value="Kuwait">
                                              <option value="Kyrgyzstan">
                                                <option value="Laos">
                                                <option value="Latvia">
                                                <option value="Lebanon">
                                                <option value="Lesotho">
                                                <option value="Liberia">
                                                <option value="Libya">
                                                <option value="Liechtenstein">
                                                <option value="Lithuania">
                                                <option value="Luxembourg">
                                                  <option value="Macedonia">
                                                  <option value="Madagascar">
                                                  <option value="Malawi">
                                                  <option value="Malaysia">
                                                  <option value="Maldives">
                                                  <option value="Mali">
                                                  <option value="Malta">
                                                  <option value="Marshall Islands">
                                                  <option value="Mauritania">
                                                  <option value="Mauritius">
                                                  <option value="Mexico">
                                                  <option value="Micronesia, Federated States of">
                                                  <option value="Moldova">
                                                  <option value="Monaco">
                                                  <option value="Mongolia">
                                                  <option value="Montenegro">
                                                  <option value="Morocco">
                                                  <option value="Mozambique">
                                                  <option value="Myanmar (Burma)">
                                                    <option value="Namibia">
                                                    <option value="Nauru">
                                                    <option value="Nepal">
                                                    <option value="Netherlands">
                                                    <option value="New Zealand">
                                                    <option value="Nicaragua">
                                                    <option value="Niger">
                                                    <option value="Nigeria">
                                                    <option value="Norway">
                                                      <option value="Onam">
                                                        <option value="Pakistan">
                                                        <option value="Palau">
                                                        <option value="Panama">
                                                        <option value="Papua New Guinea">
                                                        <option value="Paraguay">
                                                        <option value="Peru">
                                                        <option value="Philippines">
                                                        <option value="Poland">
                                                        <option value="Portugal">
                                                          <option value="Qatar">
                                                            <option value="Romania">
                                                            <option value="Russia">
                                                            <option value="Rwanda">

                                                              <option value="Saint Kitts and Nevis">
                                                              <option value="Saint Lucia">
                                                              <option value="Saint Vincent and the Grenadines">
                                                              <option value="Samoa">
                                                              <option value="San Marino">
                                                              <option value="Sao Tome and Principe">
                                                              <option value="Saudi Arabia">
                                                              <option value="Senegal">
                                                              <option value="Serbia">
                                                              <option value="Seychelles">
                                                              <option value="Sierra Leone">
                                                              <option value="Singapore">
                                                              <option value="Slovakia">
                                                              <option value="Slovenia">
                                                              <option value="Solomon Islands">
                                                              <option value="Somalia">
                                                              <option value="South Africa">
                                                              <option value="Spain">
                                                              <option value="Sri Lanka">
                                                              <option value="Sudan">
                                                              <option value="Sudan, South">
                                                              <option value="Suriname">
                                                              <option value="Swaziland">
                                                              <option value="Sweden">
                                                              <option value="Switzerland">
                                                              <option value="Syria">
                                                                <option value="Taiwan">
                                                                <option value="Tajikistan">
                                                                <option value="Tanzania">
                                                                <option value="Thailand">
                                                                <option value="Togo">
                                                                <option value="Tonga">
                                                                <option value="Trinidad and Tobago">
                                                                <option value="Tunisia">
                                                                <option value="Turkey">
                                                                <option value="Turkmenistan">
                                                                <option value="Tuvalu">
                                                                  <option value="Uganda">
                                                                  <option value="Ukraine">
                                                                  <option value="United Arab Emirates">
                                                                  <option value="United Kingdom">
                                                                  <option value="United States">
                                                                  <option value="Uruguay">
                                                                  <option value="Uzbekistan">
                                                                    <option value="Vanuatu">
                                                                    <option value="Vatican City">
                                                                    <option value="Venezuela">
                                                                    <option value="Vietnam">
                                                                      <option value="Yemen">
                                                                        <option value="Zambia">
                                                                          <option value="Zimbabwe">


                      </datalist>
                    </div>

                </div>
            </div>
            <div class="text-center mt20">
                <button type="submit" class="btn btn-black" id="registration-btn" name="signup">SIGN UP</button>
                <br><span><strong> OR </strong></span><br>
                <a class="btn btn-black" href="/login" id="registration-btn" name="login">LOGIN</a>
            </div>
        </form>



        <br>

        <div class="jumbotron text-center" style="background-color:transparent;" ng-show="register.loading">
          <span class="fa fa-soccer-ball-o spin"></span>
          <p>Loading...</p>
        </div>



    </div>
</section>
